{% if data is not null %}
    <a onclick="window.open('{{ path('kmj_upload_download', {id: data })}}', 'newwindow', 'width=800, height=600')" {{ options.attr|raw }}>{{ options.icon|raw }} {{ options.label }}</a>
{% endif %}